<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>768914145337-l1e0un85tl69rfi1epesk8flc0qinoci.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.768914145337-l1e0un85tl69rfi1epesk8flc0qinoci</string>
	<key>API_KEY</key>
	<string>AIzaSyB8rpAxKbn9iKF8WEOgCjGPUCIGf1pqs7o</string>
	<key>GCM_SENDER_ID</key>
	<string>768914145337</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>Devon.TheBridge</string>
	<key>PROJECT_ID</key>
	<string>bridgingthemasses-prototype</string>
	<key>STORAGE_BUCKET</key>
	<string>bridgingthemasses-prototype.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:768914145337:ios:2c725980e02f18bb16cde8</string>
</dict>
</plist>